{% extends "base.html" %} 
{% load static %} 
{% block title %}Home{% endblock title %} 



{% block banner-slider %}
<div id="carouselExampleControls" class="carousel slide carousel-dark " data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src={% static "images/banner/B1.jpg" %} class="d-block w-100" alt="banner-1">
    </div>
    <div class="carousel-item">
      <img src= {% static "images/banner/B2.jpg" %} class="d-block w-100" alt="banner-2">
    </div>
    <div class="carousel-item">
      <img src= {% static "images/banner/B3.jpg" %} class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src={% static "images/banner/B4.jpg" %} class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src= {% static "images/banner/B5.jpg" %} class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock banner-slider %} 


{% block information %}
<div class="container" >
  <div
    class="row bg-success text-center p-3 mx- mt-1 text-white border-bottom shadow" data-aos="fade-right"
  >
    <h2>Products</h2>
    <small class="fs-5" 
      >Craftify, a handcraft website, is a platform that showcases and sells
      handmade products created by artisans and crafters. This website typically
      feature a wide range of handcrafted items such as jewellery, Needlework,
      Decoration and more by product categories.</small
    >
  </div>
</div>
{% endblock information %} 


{% block main-content %}
<div class="container " >
  <br>
  <h2 class="text-center p-3 mx- mt-">Craftify Products</h2>
  <br>
  <div class="row container">
    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style=" animation-duration: 1s;animation-delay: 0.6s; animation-name: none; " >
      <div class="goodnesssec buttermilk smbg">
        <a href="{% url "category" "JW" %}">
          <div class="goodnessseccont text-center">
            <img src= {% static "images\necklace.png" %}
            class="img-responsive" alt="" />
            <p class="mlkpro">Necklace</p>
            <br>
            <p><a class="btn btn-secondary" href="{% url "category" "JW" %}">View all products &raquo;</a></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style=" animation-duration: 1s;animation-delay: 0.6s; animation-name: none; " >
      <div class="goodnesssec buttermilk curdbgpro">
        <a href="{% url "category" "AW" %}">
          <div class="goodnessseccont text-center ">
            <img src= {% static "images/art.jpg" %}
            class="img-responsive center-block" alt="" />
            <p class="mlkpro">Painting</p>
            <br>
            <p><a class="btn btn-secondary" href="{% url "category" "AW" %}">View all products &raquo;</a></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style=" animation-duration: 1s;animation-delay: 0.6s; animation-name: none; " >
      <div class="goodnesssec buttermilk buttermilk">
        <a href="{% url "category" "DR" %}">
          <div class="goodnessseccont text-center ">
            <img src= {% static "images/decorate.jpg" %}
            class="img-responsive center-block" alt="" />
            <p class="mlkpro">Wall Clock</p>
            <br>
            <p><a class="btn btn-secondary" href="{% url "category" "DR" %}">View all products &raquo;</a></p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row container">
    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style=" animation-duration: 1s;animation-delay: 0.6s; animation-name: none; " >
      <div class="goodnesssec buttermilk smbg">
        <a href="{% url "category" "NW" %}">
          <div class="goodnessseccont text-center">
            <img src= {% static "images/needlework.jpg" %}
            class="img-responsive" alt="" />
            <p class="mlkpro">Handmade Cushion</p>
            <br>
            <p><a class="btn btn-secondary" href="{% url "category" "NW" %}">View all products &raquo;</a></p>
          </div>
        </a> 
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style=" animation-duration: 1s;animation-delay: 0.6s; animation-name: none; " >
      <div class="goodnesssec buttermilk curdbgpro">
        <a href="{% url "category" "PT" %}">
          <div class="goodnessseccont text-center ">
            <img src= {% static "images/pottery.png" %}
            class="img-responsive center-block" alt="" />
            <p class="mlkpro">Pottery</p>
            <br>
            <p><a class="btn btn-secondary" href="{% url "category" "PT" %}">View all products &raquo;</a></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style=" animation-duration: 1s;animation-delay: 0.6s; animation-name: none; " >
      <div class="goodnesssec buttermilk buttermilk">
        <a href="{% url "category" "AW" %}">
          <div class="goodnessseccont text-center ">
            <img src= {% static "images/patachitra.jpg" %}
            class="img-responsive center-block" alt="" />
            <p class="mlkpro">Patachitra</p>
            <br>
            <p><a class="btn btn-secondary" href="{% url "category" "AW" %}">View all products &raquo;</a></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<br /><br />
{% endblock main-content %}


{% block featurette %}
  <!-- START THE FEATURETTES -->
  
<div class="container"   >
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 text-start"style="background-color:  #ECF0F1    "  >
      <h2 class="featurette-heading "><i>Decoration : <span class="text-muted">Every Corner, a Masterpiece</span></i></h2>
      <p class="lead">Wherever life plants you, bloom with decor! Design is not just what it looks like and feels like. Design is how it works. Decoration is really about creating a quality of life, and a beauty in that life that nourishes the soul, that makes life beautiful. </p>
    </div>
    <div class="col-md-5">
      <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static "images/decoration.jpg" %}" alt="decoration">
     

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 "style="background-color: #D1F2EB ">
      <h2 class="featurette-heading "><i>Art : <span class="text-muted">Everything You Can Imagine is Real</span></i></h2>
      <p class="lead">Art is a collaboration between God and the artist, and the less the artist does the better. It is something that makes you breathe with a different kind of happiness. For as long as humanity has existed, art has been part of our lives. For many years, people have been creating and enjoying art.  It expresses emotions or expression of life. It is one such creation that enables interpretation of any kind.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static "images/art3.jpeg" %}" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2 "style="background-color:  #FCF3CF     ">
      <h2 class="featurette-heading "><i>Pottery : <span class="text-muted">Elegance in Every Curve</span></i></h2>
      <p class="lead">Pottery is the perfect blend of science and art, where craftsmanship meets creativity.It is not just about creating objects, but about forming connections with others.Working with clay is like getting lost in a world of endless potential.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static "images/Indian-pottery.jpg" %}" alt="">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
  <!-- /END THE FEATURETTES -->
{% endblock featurette %}



